/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

// .wp-block-fancysquares-row-block {
// 	border: 1px dotted #f00;
// 	display: flex;
//   flex-wrap: wrap;
// //   margin-top: calc(-1 * var(--bs-gutter-y));
//   margin-right: -15px;
//   margin-left: -15px;
// 	.block-editor-inner-blocks {
// 		width: 100%;
// 		> .block-editor-block-list__layout {
// 			flex-shrink: 0;
// 			width: 100%;
// 			max-width: 100%;
// 			padding-right: calc(var(--bs-gutter-x) * .5);
// 			padding-left: calc(var(--bs-gutter-x) * .5);
// 			margin-top: var(--bs-gutter-y);
// 		}
// 	}
// }
// [data-type="fs-blocks/row-block"] {
// 	> .block-editor-inner-blocks {
// 		width: 100%;
// 	}
// 	.row {
// 	}
// }
.wp-block-fancysquares-row-block-admin {
	width: 100%;
	border: 2px dotted rgb(187, 255, 0);
	min-height: 40px;
}
.fs-options-list {
	margin-top: 5px;
	ul {
	  font-size: 12px;
	  padding-left: 20px;
	  margin: 5px 0;
	}
  }
  .fs-field-group {
	margin-bottom: 20px;
  }