/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-fancysquares-column-block {
	border: 1px dotted #f00;
	position: relative;
	width: 100%;
	padding-right: .75rem;
	padding-left: .75rem;
	&:not([class*="col-"]) {
		flex: 1 0 0%;
	}
}
[data-type="fs-blocks/column-block"] {
	> div {
		width: 100%;
		// padding: 0 15px;
		> .block-editor-inner-blocks {
			width: 100%;
		}
	}
}
.fs-options-list {
	margin-top: 5px;
	ul {
		font-size: 12px;
		padding-left: 20px;
		margin: 5px 0;
	}
}
.fs-field-group {
	margin-bottom: 20px;
}
