/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-fancysquares-container-block {
	border: 2px dotted #f00;
	min-height: 40px;
}
.fs-options-list {
	margin-top: 5px;
	ul {
		font-size: 12px;
		padding-left: 20px;
		margin: 5px 0;
	}
}
.fs-field-group {
	margin-bottom: 20px;
}
