.wp-block-fancysquares-cover-block {
	position: relative;
	overflow: hidden;
	min-height: 400px;
	display: flex;

	.wp-block-cover__background.has-background-dim {
	  background-color: #000; // or theme var
	  position: absolute;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  pointer-events: none;
	  z-index: 1;
	}

	.wp-block-cover__image-background,
	.wp-block-cover__video-background {
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  object-fit: cover;
	  z-index: 0;
	}

	.wp-block-cover__inner-container {
	  position: relative;
	  z-index: 2;
	  padding: 2rem;
	}

	&.has-custom-content-position {
	  .wp-block-cover__inner-container {
		margin: 0;
		width: auto;
	  }
	}

	&.is-position {
	  &-top-left {
		align-items: flex-start;
		justify-content: flex-start;
	  }
	  &-top-center {
		align-items: flex-start;
		justify-content: center;
	  }
	  &-top-right {
		align-items: flex-start;
		justify-content: flex-end;
	  }
	  &-center-left {
		align-items: center;
		justify-content: flex-start;
	  }
	  &-center-center {
		align-items: center;
		justify-content: center;
	  }
	  &-center-right {
		align-items: center;
		justify-content: flex-end;
	  }
	  &-bottom-left {
		align-items: flex-end;
		justify-content: flex-start;
	  }
	  &-bottom-center {
		align-items: flex-end;
		justify-content: center;
	  }
	  &-bottom-right {
		align-items: flex-end;
		justify-content: flex-end;
	  }
	}
  }
